<DOCTYPE html>

  <html>

      <head>
         <title>Translator</title>
         <style>
            body {
            	background: grey;
            }	
         </style>
      </head>

      <body>

         <%= yield %>

      </body>
      
  </html>             